/* Default setup for Mobile, made for 320px viewport*/
html {
  background-color:black;
  color: #daa520;
}


body {
  font-family: 'Oxanium', bold; 
  text-transform: uppercase;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 4em;
}

h2 {
  margin-top: 300px;
    font-size: 2.5em;
}

h3 {
  font-size: 2.5em;
}

.header {
  text-align: center;
}

.header li {
  margin: 15px;
  list-style: none;
  font-size: 3.5em;
}

.sacredGeometry {
  width: 36%;
}

.images {
  height: 450px;
  width: 600px;
}

.backgroundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  height: 1200px;
  background: url(images/background.jpg) center;
  border: 1px solid;
  border-color: black;
}

.quizBox, .box {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
  background-color: black;
  width: 90%;
  height: 90%;
  border: 0.1px solid;
  border-color:black;
  opacity: 0.80;
}

.button {
  border: 1px solid;
  border-color: black;
  background-color: darkgray;
  height: 100px;
  width: 200;
  margin-top: 0.5em;
  display: absolute;
  font-size: 45px;
}

.questionText {
  margin: auto;
  font-size: 3em;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0.5em;
  cursor: pointer;
}

.quizSize {
    margin: 0.1em;
    font-size: 2.4em;
}

@media screen and (min-width:768px){
  .sacredGeometry {
    width: 30%;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    margin-top: 250px;
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.5em;
  }

  .header li {
    font-size: 1.5em;
  }

  .backgroundContainer {
    height: 600px;
    
  }

  .images {
    width: 450px;
    height:450px;
  }

  .button {
    height: 50px;
    width: 150px;
    font-size: 25px;
    margin-top: 0.1em;
  }

  .quizSize {
    margin: 0.1em;
    font-size: 2em;
  }

  .questionText {
  font-size: 1.5em;
}
}